<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
    "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
    "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Cast Fixtures</vendor>
  <vendor_url>https://fixtures.invalid/cast-system-integration-assets-fixture</vendor_url>
  <action id="io.cast.SystemIntegrationFixture.manage">
    <description>Manage the Cast system integration fixture</description>
    <message>Authentication is required to manage the Cast system integration fixture</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
